<div class="container">
    {{#each pokemon}}

    <div class="flexBox">
        <img class="headerimage" src="/images/pokedex.png" width="80%">
        <h2>{{name}}</h2>
        <img class="headerimage" src="{{url}}" alt="image">
    </div>

    <p>{{type}}</p>
    
    <p>"{{blurb}}"</p>
    <p>{{ability}}</p>
    {{/each}}
</div>