<div class="container">
    <a class="home" href="/">Home</a>
    {{#each pokemon}}

    <div class="flexBox">
        <img class="headerimage" src="/images/pokedex.png" width="80%">
        <h2>{{name}}</h2>
        <img class="headerimage" src="{{url}}" alt="image">
    </div>
    <p>Type: {{type}}</p>
    <p>About: "{{blurb}}"</p>
    <p>Ability: {{ability}}</p>
    {{/each}}
</div>