
<div class="container">

      <a class="home" href="/">Home</a>
  {{#each trainers}}
  
  <div class="flexBox">
    <img class="headerimage" src="/images/pokedex.png" width="80%">
    <h2>{{name}}</h2>
    <img class="headerimage" src="{{url}}" alt="image">
  </div>
  <p>{{gym}}</p>
  <p>Home town : {{town}}</p>
  
  {{/each}}
  <hr>

<div class="trained">
  <P>Pokemon Caught :</P>
  {{#each trained}}
  <p>{{name}}</p>
  <p class= "type">Type : {{type}}</p>
  {{/each}}
</div> 